.projectSection {
  padding: 2rem;
  background-color: #172523;
  color: #ffffff;
  margin-bottom: 3rem;
}

div#projects.projectSection div.ui.three.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.projectCard {
  height: 300px;
  width: 432px !important;
  overflow: hidden;
}

.projectCard img {
  height: calc(100% + 20px); 
  width: calc(100% + 20px); 
  object-fit: cover;
  transition: 0.7s ease-out;
}

.projectCard:hover div.content {
background-color: #F6F5F4 !important;
}

.projectCard:hover div.content div.header{
  color: #172523 !important;
}

.projectCard:hover div.content div.description{
  color: #172523 !important;
}

.projectCard:hover img{
  cursor: pointer;
  transform: scaleX(1.1);
  height: 200px;
  width: 100%;
  overflow: visible;
  object-fit: contain;
}

.projectCard .content {
  background-color: #ffffff;
  border-radius: 0 0 1rem 1rem;
}


@media (max-width: 1290px) {
  div#projects.projectSection div.ui.three.cards {
    flex-direction: column;
    align-items: center;
  }

}