/* #172523 Dark Green */
/* #DFFF5D Light Green */
/* #FFFFFF White Text */
/* #F6F5F4 secondary background */
/* #fff9 Grey Links*/
/* #26443F secondary link */
.navContainer {
    background-color: #172523;
    color: #DFFF5D;
    display: flex;
    width: 100%;
    padding: 0.25rem;
}

nav {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    padding: 20px;
}

nav li a {
    text-decoration: none;
    color: #fff9;
    font-size: 16px;
    font-weight: 400;
}

nav li a:hover {
    color: #ffffff;
}

button {
    background-color: #172523;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 1s ease;
}

button:hover {
    color: #000;
    background-color: #DFFF5D;
    border: 1px solid #000;
}


