div.wrapper {
  padding: 0 12.2%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  div.wrapper {
    padding: 0 4%;
  }
}

@media (max-width: 650px) {
  div.wrapper {
    padding: 0 var(--space-mobile, 18px);
    width: 100%;
  }
}
