@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

/* #172523 Dark Green */
/* #DFFF5D Light Green */
/* #FFFFFF White Text */
/* #F6F5F4 secondary background */
/* #fff9 Grey Links*/
/* #26443F secondary link */


html, body {
  background-color:#172523 ;
  font-family: 'Schibsted Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
